body{
    overflow-x: hidden;
    height: 280vw;
}

/*Marisa's Contact CSS*/
#marisa-cartoon{
	width: 25vw;
    float:right;
}

#marisa-copy-1 img, #marisa-copy-2 img, #marisa-copy-3 img{
    width: 65vw;
}

.marisa-social-media:before{
	content: "";
    position: absolute;
    left: 20vw;
    width: 45vw;
    height: 6vw;
    z-index: -1;
    background-image: url(../images/creator_contact_art/short_right_bubble.png);
    background-size: 45vw 6vw;
    transform: scaleY(-1);
}

.marisa-social-media img{
    width: 4vw;
    position: relative;
    top: 1vw;
    left: 21vw;
}

.marisa-social-media a img:hover{
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
        transform: scale(1.4);
}

/*Alexandra's Contact CSS*/
#alexandra-cartoon{
	width: 25vw;
    margin-right: 3vw;
    float:left;
}
.alexandra-description{
	width: 100vw;
    display: inline-block;
    padding-top: 10vw;
}

.alexandra-description h3{
	margin: 0;
}

.alexandra-description p{
	width: 100vw;
	/*margin: 0;*/
}

.alexandra-social-media{
	width: 100vw;
	float: right;
}

.alexandra-social-media a img{
	width: 10vw;
    float: right;
}

.alexandra-social-media a img:hover{
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
        transform: scale(1.4);
}

@media (min-width:800px){
    #marisa-cartoon{
    position: relative;
    top: 5vw;
}

#marisa-copy-1 img, #marisa-copy-2 img, #marisa-copy-3 img{
   position: relative;
    top: 20vw;
}

.marisa-social-media:before{
	content: "";
    position: absolute;
    top: 85.5vw;
    left: 17vw;
    width: 45vw;
    height: 7vw;
    z-index: -1;
    background-image: url(../images/creator_contact_art/short_right_bubble.png);
    background-size: 45vw 7vw;
}

.marisa-social-media img{
    top: 21.5vw;
    left: 21vw;
}
}

@media (min-width:1000px){
    #marisa-cartoon{
    position: relative;
    top: 15vw;
}
    #marisa-copy-1 img{
    width: 65vw; 
    top:0vw;
    left: 7vw;
}
    #marisa-copy-2 img, #marisa-copy-3 img{
        display: none;
    }
    
    .marisa-social-media:before{
	content: "";
    position: absolute;
    top: 39vw;
    left: 35vw;
    width: 35vw;
    height: 7vw;
    z-index: -1;
    background-image: url(../images/creator_contact_art/short_right_bubble.png);
    background-size: 35vw 7vw;
    transform: scaleY(1);
}
    
    .marisa-social-media img{
    width: 3.75vw; 
    top: 1vw;
    left: 36.5vw;
}
}@media (min-width:1225px){
    
    .marisa-social-media:before{
	content: "";
    position: absolute;
    top: 38vw;
    left: 35vw;
    width: 35vw;
    height: 7vw;
    z-index: -1;
    background-image: url(../images/creator_contact_art/short_right_bubble.png);
    background-size: 35vw 7vw;
    transform: scaleY(1);
}
    
    .marisa-social-media img{
    width: 3.75vw; 
    top: 1vw;
    left: 36.5vw;
}
}
@media (min-width:1500px){
    #marisa-cartoon{
    position: relative;
    top: 15vw;
}
    #marisa-copy-1 img{
    width: 45vw; 
    top:5vw;
    left: 25vw;
}
    
    .marisa-social-media:before{
	content: "";
    position: absolute;
    top: 33vw;
    left: 35vw;
    width: 35vw;
    height: 7vw;
    z-index: -1;
    background-image: url(../images/creator_contact_art/short_right_bubble.png);
    background-size: 35vw 7vw;
    transform: scaleY(1);
}
    
    .marisa-social-media img{
    top: 6.5vw;
    left: 36vw;
}
}


/*
@media (max-width:1300px){
    .marisa-description{
	width: 1100px;
}
    .marisa-description p{
	width: 850px;
}
    .alexandra-description{
        width:1100px;
    }
    .alexandra-description p{
	width: 800px;
}
}
@media (max-width:772px){
    .marisa-description{
	width: 650px;
}
    .marisa-description p{
	width: 700px;
}
    .marisa-social-media{
    margin-top: 0px;
    margin-right: -30px;
}
    .marisa-social-media a img{
	margin-top: 0px;
}

    .alexandra-description{
        width:650px;
    }
    .alexandra-description p{
	width: 700px;
}
    .alexandra-social-media{
    margin-top: 0px;
    margin-right: -30px;
}
    .alexandra-social-media a img{
	margin-top: 0px;
}
}*/